@import "tailwindcss";


body {
    font-family: 'Nunito Sans', sans-serif;
}

[x-cloak] {
    display: none !important;
}

.password-toggle-input::-ms-clear,
.password-toggle-input::-ms-reveal {
    display: none;
}

.password-toggle-input::-webkit-textfield-decoration-container {
    display: none !important;
}

.ts-control {
    padding: 1rem !important;
    border-radius: 1rem !important;
}